/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
}

body{
    width: 70%;
    text-align: center; 
    margin: 15% 15%;
}
/* HEADER */
h1{
  color: hsl(339deg 78% 55%);
  margin-bottom: 1em;  
}

/* text-container */
.text{

}

/* team-contacts */

.container{
    margin-top: 30px;
}

.card{
    font-size: 0.8rem;
    color: white;
    background-color: hsl(247deg 24% 7%);
    width:250px; 
    height: 80px;
}    


.card::after{
    content: "";
    clear: both;
    display: table;
}

img{
float: left;
height: 80px;
padding:0;
margin: 0;
}

.contact-info{
    text-align: justify;
    padding: 10px;
    padding-left: 90px;
}

.mail{
    color: rgb(142, 193, 255)
}